 #img {
     text-align: center;
     width: auto;
     height: auto;
margin-left: auto;
margin-right: auto;

 }
body {
         border-image: 100%;
        -ms-flex-item-align: center;
        text-align: center;
        background-color: brown;
 }
