 #title {
    text-align: center;
 }

body {
         border-image: 100%;
        
        text-align: left;
        background-color: burlywood;
 }

 #img {
    text-align: left;
    width: auto;
    height: auto;
margin-left: auto;
margin-right: auto;
padding: 100%;
border-color:blue;
border-top: 50px;
}

#title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;

    text-decoration: solid;
}
 div {
     text-align: center;
    
 }