 

* {
         border-image: 100%;
        -ms-flex-item-align: center;
        text-align: center;
        background-color: burlywood;
 }

 #img {
    text-align: center;
    width: auto;
    height: auto;
margin-left: auto;
margin-right: auto;
padding: 100%;
border-color:blue;
border: 100px;
background-image: -moz-element();
background-color: blue;

}

#title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-align: center;
    text-decoration: solid;
}
